// Imports
@import '../variables';

//
// Comments
//

#comments-list {
    margin-top: 2em !important;
    font-size: .85em;
    line-height: 1.25em;

    ol {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1em;
    }
}

.comments-list-item {
    width: 80%;
    background-color: $bg-comments-list-item;

  
    &:nth-child(odd) {
        align-self: flex-start;
        border-left: 5px solid $bg-border-comment-odd;
        ;
        padding-left: 0.7em !important;
        text-align: left;
    }

    &:nth-child(even) {
        align-self: flex-end;
        border-right: 5px solid $bg-border-comment-even;
        padding-right: 0.7em !important;
        text-align: right;

        &::before {
            content: ' ';
            width: 100%;
            height: 50px;
            background-color: red;
        }

    }
}

.comment {
    padding: 0.5em !important;
}

.comment-content {
    color: $text-color-default-white;
}

.comment-footer {
    background-color: $bg-comment-footer;
    padding: 0.25em !important;
    margin-top: 0.5em !important;
    font-size: 0.85em;
    display: inline-flex;


    time {
        font-style: oblique;
        padding-left: 0.5em !important;

        &::before {
            content: '-   ';
        }
    }
    
    a {
        color: $text-color-link;
        text-decoration: none;
        padding-right: 0.5em !important;
    
        &:hover {
        color: $text-color-default-white;
        }
    }
}

//
// Create comment
//

.add-comment {
    margin-bottom: 1em !important;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.container-add-comment {
    
    h5 {
        padding: .4em 0 !important;

        font-size: 1.25em;
        line-height: 1.15em;
        color: $text-color-headline;
    }
}

.comment-textarea {
    width: 100%;
    min-height: 3em;

    background-color: $bg-comment-textarea;
    border: 1px solid $bg-comments-list-item;

    padding: 0.5em !important;

    color: $text-color-default-white;

    &:focus {
        outline: 1px solid yellow !important;
    }
}

.container-send-comment {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1em !important;

    padding: 0 1em !important;
}

.auth-area-comment {
    text-align: center;
    font-size: 1.25em;
    line-height: 1.15em;
    color: red;

    a {
        color: $text-color-link;
        text-decoration: none;

        
        &:nth-child(1) {
            &::after {
                content: '\007C';
                margin: 0 2em !important;
            }
        }

        &:hover {
            color: $text-color-default-white;
        }
    }
}

.button-send-comment {
    background-color: $bg-button-comment-send;
    font-size: 1.05em;

    border: none;
    border-radius: 4px;

    padding: .6em !important;
}

